@font-face {
  font-family: "iconfont"; /* Project id 3395800 */
  src: url('/static/font/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tupian:before {
  content: "\e63e";
}

.icon-wenjiandaoru:before {
  content: "\e6a2";
}

.icon-shezhi:before {
  content: "\e892";
}

.icon-jiantou-copy-copy:before {
  content: "\e62e";
}

.icon--daoru:before {
  content: "\e61d";
}

.icon-delete1:before {
  content: "\e620";
}

.icon-delete:before {
  content: "\e66a";
}

.icon-didichuhang:before {
  content: "\e736";
}

.icon-yule:before {
  content: "\e6d8";
}

.icon-gongxiangdanche:before {
  content: "\eb54";
}

.icon-huazhuangpin-kouhongchuncai-cosmetics:before {
  content: "\e677";
}

.icon--jiaoyu:before {
  content: "\e608";
}

.icon-meitong:before {
  content: "\e624";
}

.icon-canyinzhekou:before {
  content: "\e611";
}

.icon-yiliaoxiang:before {
  content: "\e874";
}

.icon-fangdai:before {
  content: "\e779";
}

.icon-jiaofei:before {
  content: "\e654";
}

.icon-yifu:before {
  content: "\e641";
}

.icon-yanjiemao:before {
  content: "\e672";
}

.icon-hongbao:before {
  content: "\f6a3";
}

.icon-huazhuangpin:before {
  content: "\facd";
}

.icon-lirenmeirong:before {
  content: "\fd35";
}

.icon-fujian:before {
  content: "\e603";
}

.icon-a-biaozhubiaoji:before {
  content: "\ea1f";
}

.icon-biaozhangbiaoyang:before {
  content: "\ea20";
}

.icon-a-cuxiaozhekou:before {
  content: "\ea21";
}

.icon-a-huangguanhuiyuan:before {
  content: "\ea22";
}

.icon-a-huoliuhangtuijian:before {
  content: "\ea23";
}

.icon-shoucang:before {
  content: "\ea24";
}

.icon-jiangbei:before {
  content: "\ea25";
}

.icon-toupiao:before {
  content: "\ea26";
}

