@font-face {
  font-family: "iconfont"; /* Project id 3395800 */
  src:url('/static/font/iconfont.ttf?t=1652337002609') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fujian:before {
  content: "\e603";
}

.icon-a-biaozhubiaoji:before {
  content: "\ea1f";
}

.icon-biaozhangbiaoyang:before {
  content: "\ea20";
}

.icon-a-cuxiaozhekou:before {
  content: "\ea21";
}

.icon-a-huangguanhuiyuan:before {
  content: "\ea22";
}

.icon-a-huoliuhangtuijian:before {
  content: "\ea23";
}

.icon-shoucang:before {
  content: "\ea24";
}

.icon-jiangbei:before {
  content: "\ea25";
}

.icon-toupiao:before {
  content: "\ea26";
}

